@import url("https://fonts.googleapis.com/css?family=Montserrat:400,400i,700");

html,
body {
  margin: 0;
  height: 100%;
}

body {
  position: relative;
  font-family: "Montserrat";
  display: flex;
  align-items: center;
  justify-content: center;
}